/* Default Rules for ALL contents on admin page */
.admin-info {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 5%;
    font-size: 24px;
    min-width: 1128px;
}
.admin-info a {
  display: inline-block;
  color: #07aa19;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.admin-info a:after {
  display: block;
  content: "";
  background-color: #07aa19;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .1s ease-in-out;
  -moz--transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.admin-info a:hover:after,
.admin-info a:focus:after {
    width: 100%;
}

.admin-top-panel {
  font-size: 20px;
  background-color: #e3e0cf29;
  border-bottom: 2px solid black;
  min-width: 1400px;
  width: 100%;
  height: 50px;
}
.admin-top-panel-functionblock {
  width: 60%; 
  margin: 0 auto;
  text-align: center;
  float: left;
  position: relative;
  height: 100%;
  min-width: 980px;
}
.admin-top-panel-functionblock-function {
  position: relative;
  display: inline;
  margin-left: 50px;
  margin-right: 10px;
  top: 20%;
}

.admin-top-panel-usersinfo {
  position: absolute;
  right: 0;
  margin-right: 10px;
  display: inline;
}

/* TODO: Admin feature block */
.admin-feature {
  border-bottom: 1px solid;
  margin-bottom: 15px;
}
.admin-select {
  font-family: "Raleway";
  border: 1px solid #222;
  font-size: 20px;
  background: #cab660;
  background-image: -webkit-linear-gradient(to bottom, #FFF7C0, #cab660);
  background-image: -moz-linear-gradient(to bottom, #FFF7C0, #cab660);
  background-image: -ms-linear-gradient(to bottom, #FFF7C0, #cab660);
  background-image: linear-gradient(to bottom, #80abc7, #6c879a);
}
.admin-tryactive {
  background-color: green;
}
.admin-deactive {
  background-color: #790707;
}
.admin-get-link-input {
  width: 90%;
}
.admin-error {
  width: 300px;
  height: auto;
  display: block;
  position: fixed;
  background-color: #ffc9c9;
  color: black;
  padding: 10px;
  border: 4px solid #942525;
  border-radius: 10px;
  font-size: 20px;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}
.admin-event {
  width: 300px;
  height: auto;
  display: block;
  position: fixed;
  background-color: #aeff6a;;
  color: black;
  padding: 10px;
  border: 4px solid #942525;
  border-radius: 10px;
  font-size: 20px;
  right: 0;
  bottom: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}
.admin-timer {
  position: relative;
  width: 100%;
  height: 200px;
  float: left;
  text-align: center;
}
.admin-timer a {
  display: inline-block;
  color: #07aa19;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}
.admin-timer a:after {
  display: block;
  content: "";
  background-color: #07aa19;
  height: 3px;
  width: 0%;
  left: 50%;
  position: absolute;
  -webkit-transition: width .1s ease-in-out;
  -moz--transition: width .1s ease-in-out;
  transition: width .1s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
}
.admin-timer a:hover:after,
.admin-timer a:focus:after {
    width: 100%;
}

/* Temp for timer */
/* 
.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
} */


/* Main table */
table.admin-table-main {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: #4A4A4A;
  margin: 10px 0;
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.admin-table-main td, table.admin-table-main th {
  border: 1px solid #4A4A4A;
  padding: 6px 1px;
}
table.admin-table-main tbody td {
  font-size: 15px;
  color: #E6E6E6;
}
table.admin-table-main tr:nth-child(even) {
  background: #888888;
}
table.admin-table-main thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.admin-table-main thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.admin-table-main thead th:first-child {
  border-left: none;
}

table.admin-table-main tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
table.admin-table-main tfoot td {
  font-size: 12px;
}

/* Timer table */

table.admin-table-timer {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: #4A4A4A;
  width: 100%;
  height: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.admin-table-timer td, table.admin-table-timer th {
  border: 1px solid #4A4A4A;
  padding: 6px 1px;
}
table.admin-table-timer tbody td {
  font-size: 15px;
  color: #E6E6E6;
}
table.admin-table-timer tr:nth-child(even) {
  background: #888888;
}
table.admin-table-timer thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table.admin-table-timer thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table.admin-table-timer thead th:first-child {
  border-left: none;
}

table.admin-table-timer tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
table.admin-table-timer tfoot td {
  font-size: 12px;
}
