
/* TODO: Devices CSS*/
.device {
  position: absolute;
  width: 100px;
  height: 80px;
  cursor: pointer;
  /* background-color: black; */
}
.host {
  position: absolute;
  width: 100px;
  height: 110px;
  cursor: pointer;
  /* background-color: black; */
}

/* 
  TODO: CSS Left
*/

.CLI {
  margin-top: 60px;
  margin-left: 45px;
}
.Student {
  margin-top: 560px;
  margin-left: 45px;
}
.DC {
  margin-top: 430px;
  margin-left: 45px;
}
.RDS {
  margin-top: 310px;
  margin-left: 45px;
}
.FS {
  margin-top: 190px;
  margin-left: 45px;
}
.SRV1 {
  margin-top: 155px;
  margin-left: 280px;
}

/* 
  TODO: CSS Middle
*/

.S1 {
  margin-top: 190px;
  margin-left: 510px;
}
.S2 {
  margin-top: 190px;
  margin-left: 790px;
}
.S3 {
  margin-top: 330px;
  margin-left: 650px;
}
.R1 {
  margin-top: 510px;
  margin-left: 480px;
}
.R2 {
  margin-top: 510px;
  margin-left: 810px;
}
.ISP1 {
  margin-top: 710px;
  margin-left: 590px;
}
.ISP2 {
  margin-top: 710px;
  margin-left: 715px;
}

/* 
  TODO: CSS Right
*/

.SRV2 {
  margin-top: 170px;
  margin-left: 1000px;
}
.WEB {
  margin-top: 50px;
  margin-left: 1240px;
}
.VPN {
  margin-top: 180px;
  margin-left: 1250px;
}
.MON {
  margin-top: 310px;
  margin-left: 1250px;
}
.Teacher {
  margin-top: 550px;
  margin-left: 1240px;
}