
/* TODO: Devices CSS*/
.device {
  position: absolute;
  width: 100px;
  height: 80px;
  cursor: pointer;
  /* background-color: black; */
}
.host {
  position: absolute;
  width: 100px;
  height: 110px;
  cursor: pointer;
  /* background-color: black; */
}

/* 
  TODO: CSS Linux
*/

.SRV-L {
  margin-top: 210px;
  margin-left: 20px;
}
.SRV-R {
  margin-top: 580px;
  margin-left: 20px;
}
.STR {
  margin-top: 210px;
  margin-left: 320px;
}
.CORE {
  margin-top: 380px;
  margin-left: 320px;
}
.FW {
  margin-top: 380px;
  margin-left: 720px;
}
.CLI-ADM {
  margin-top: 210px;
  margin-left: 1060px;
}
.CLI-OUT {
  margin-top: 580px;
  margin-left: 1060px;
}

/* 
  TODO: CSS Windows
*/

.FS1 {
  margin-top: 170px;
  margin-left: 70px;
}
.DC1 {
  margin-top: 170px;
  margin-left: 330px;
}
.RCA {
  margin-top: 350px;
  margin-left: 430px;
}
.CLI1 {
  margin-top: 350px;
  margin-left: 70px;
}
.BR1-W {
  margin-top: 270px;
  margin-left: 900px;
}
.BR2 {
  margin-top: 670px;
  margin-left: 900px;
}
.DC2 {
  margin-top: 580px;
  margin-left: 330px;
}
.FS2 {
  margin-top: 560px;
  margin-left: 70px;
}
.CLI2 {
  margin-top: 740px;
  margin-left: 70px;
}
.CLI3 {
  margin-top: 740px;
  margin-left: 240px;
}
.RDS {
  margin-top: 740px;
  margin-left: 430px;
}

/* 
  TODO: CSS Cisco
*/

.WEB {
  margin-top: 700px;
  margin-left: 60px;
}
.BR1-C {
  margin-top: 460px;
  margin-left: 70px;
}
.RTR1 {
  margin-top: 460px;
  margin-left: 550px;
}
.RTR2 {
  margin-top: 800px;
  margin-left: 1025px;
}
.SW1 {
  margin-top: 570px;
  margin-left: 1025px;
}
.SW2 {
  margin-top: 340px;
  margin-left: 1025px;
}
.SW3 {    
  margin-top: 450px;
  margin-left: 790px;
}
.PC1 {
  margin-top: 550px;
  margin-left: 1250px;
}